{% extends 'base.html.twig' %}

{% block title %}Elenco dei post
{% endblock %}

{% block body %}
	<!-- header -->
	<header class="masthead" style="background-image: url('../img/home-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Clean Blog</h1>
						<span class="subheading">A Blog Theme by Start Bootstrap</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--fine header -->
	<!-- Post -->
	<!-- Post Content -->
		<article>
			<div class="container"> <div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					{% autoescape %}
						{{ post.body|raw }}
						{# var won't be escaped #}
					{% endautoescape %}
				</div>
			</div>
		</div>
	</article>

	<hr>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/article-show.js') }}"></script>
{% endblock %}
